.container6{
     background-color: #fff;
     margin: 5px 250px 0 250px;
     min-width: 1083px;
}
.mata{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid rgb(176, 176, 176);
}
.mata1>p{
    font-size: 30px;
    font-weight: 700;
}
.mata2{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.mata2>img{
    height: 25px;
    padding-right:5px ;
}
.mata2>input{
    width: 180px;
    height: 20px;
}
.pyat{
    display: flex;
    padding-top: 40px;
    padding-left: 4rem;
}
.mobile-photo{
    padding: 0 80px 0 50px;
    /* border: 2px solid black; */
}
.mobile-photo>img{
    width: 180px;
}

.assure-logo{
    padding-top: 20px;
}
.assure-logo>img{
    width: 100px;
}
.baki{
    line-height: 40px;
    font-weight: 500;
}
.baki>input{
    margin-top: 10px;
    width: 130px;
    height: 35px;
    font-weight: bold;
    color: #525252;
    border-style: none;
    border: 2px solid rgb(188, 186, 186);
}
.delivery-datee{
    /* border: 2px solid red; */
    padding-left: 185px;
}
.thang{
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
}